@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,700i&subset=latin-ext');

/* font-family: 'Ubuntu', sans-serif; */


/* color :
    - Simplon Occitanie Orange : #EBBD36;
    - Simplon Occitanie Rouge : #E1242D
    */

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    /*background-color: #F8F8F8;*/
    background-color: #DCDCDC;
}


/**** header ****/

header {
    background: url("../images/stgaudens2.jpg") no-repeat center center;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    color: white;
    margin-left: 15vw;
}

#logotop {
    height: 70vh;
}


/**** navbar ****/

.sticky {
    position: fixed;
    z-index: 4;
    right: 0;
    left: 0;
    top: 0;
}

div.navbar.navbar-default {
    background-color: #E1242D;
    border-radius: 0px;
    border: none;
    margin: 0;
    box-shadow: 0px 2px 10px #666666
}

div.collapse.navbar-collapse.menu {
    text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #EBBD36;
}

.navbar-default .navbar-toggle {
    border-color: #EBBD36;
}

#simplon-nav {
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#navlink {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}


/**** Social Networks ****/

#sidebar {
    position: absolute;
    float: left;
    z-index: 2;
    text-align: center;
}

li {
    list-style: none;
}


/*Lesly*/

.competences {
    height: 100vh;
    background-color: pink;
}


/**** Caroussel ****/

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel {
    background-color: transparent;
}


/**** 3 evements ****/

.actu {
    background-color: white;
}

.actu.container {
    margin-top: 4%;
    margin-bottom: 4%;
}

.actu>h3 {
    text-align: center;
}

.panel-primary {
    border-color: transparent;
    border-radius: 0px;
}

.panel-body {
    padding: 0px;
}

.panel-footer {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

.actu.evenement {
    background: "#e1242d";
}

.panel>h5 {
    margin: 0px;
}


/**** API ****/

section>.api {
    height: 100vh;
}

#carte {
    height: 100vh;
}

#coord {
    padding-top: 150px;
    text-align: center;
}


/**** Footer ****/

footer {
    background-color: #E1242D;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}


/* A conserver en bas de cette page - pour responsive */

@media (max-width: 767px) {
    #logotop {
        height: 35vh;
    }
    header>h1 {
        font-size: 30px;
    }
    div.navbar.navbar-default {
        display: flex;
        flex-direction: column
    }
    #sidebar {
        display: none;
    }
}

.rotate {
    transform: rotate(180deg)
}