@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,700i&subset=latin-ext');

/* font-family: 'Ubuntu', sans-serif; */


/* color :
    - Simplon Occitanie Orange : #EBBD36;
    - Simplon Occitanie Rouge : #E1242D
    */

.ui-helper-hidden-accessible {
    display: none;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    /*background-color: #F8F8F8;*/
    background-color: #DCDCDC;
}

.philoText a,
.philoText a:visited,
.philoText a:hover {
    color: white;
    text-decoration: none;
}


/**** header ****/

header {
    background: url("../images/stgaudens2.jpg") no-repeat center center;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    color: white;
    margin-left: 15vw;
}

#logotop {
    height: 70vh;
}


/**** navbar ****/

.sticky {
    position: fixed;
    z-index: 4;
    right: 0;
    left: 0;
    top: 0;
}

div.navbar.navbar-default {
    background-color: #E1242D;
    border-radius: 0px;
    border: none;
    margin: 0;
    /*box-shadow: 0px 2px 10px #666666*/
}

div.collapse.navbar-collapse.menu {
    text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #EBBD36;
}

.navbar-default .navbar-toggle {
    border-color: #EBBD36;
}

#simplon-nav {
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#navlink {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}


/**** Social Networks ****/

#sidebar {
    position: absolute;
    float: left;
    z-index: 2;
    text-align: center;
}

li {
    list-style: none;
}


/**** philosophie ****/

.philosophie {
    background-color: #E1242D;
    z-index: 3;
    box-shadow: 0px 4px 5px #888888;
}

.philoText {
    color: white;
    text-align: center;
    width: 80vw;
    padding-top: 2em;
    padding-bottom: 4em;
}

.philoText>h3 {
    font-style: italic;
    font-size: 20px;
    line-height: 145%;
}

.philoText>p {
    text-align: right;
    font-size: 16px;
    text-decoration: none;
}


/****Lesly ****/



.text {
    /*padding-right: 40px;*/
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 2em;
    /*padding-left: 8%;*/
    /*padding-right: 8%;*/
}

.competencesSection {
    height: auto;
    display: flex;
    padding-right: 0px;
    width: 100%;
    /*padding-top: 60px;
    padding-bottom: 60px;*/
}

.imageGroup {
    height: auto;
    background: url("../images/students.jpg") no-repeat center center;
    background-size: cover;
    z-index: -1;
}



/**** Caroussel ****/

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel {
    background-color: transparent;
}


/**** 3 evements ****/

.container>h3 {
    color: white;
    text-align: center;
    padding-bottom: 1%;
}

.events {
    background-color: #E1242D;
    padding-top: 50%;
    padding-bottom: 20px;
    box-shadow: 0px 4px 5px #888888;
    padding-top: 3em;
    z-index: 3;
}

.thumbnail {
    background-color: transparent;
    border: 0px;
}

.caption>p,
.caption>h3 {
    color: white;
}

.thumbnail>img {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}


/**** API ****/

#carte {
    z-index: -1;
}

section>.api {
    height: 100vh;
}

#carte {
    height: 100vh;
}

#coord {
    padding-top: 150px;
    text-align: center;
}


/**** Footer ****/

footer {
    background-color: #E1242D;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.bottom {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    /*justify-content: center;*/
}


/* A conserver en bas de cette page - pour responsive */



@media (max-width: 991px) {

#logotop {
    height: 40vh;
}

    .text {
    margin-left: 4em;
    }
}


@media only (min-device-width : 1024px) and (max-device-width : 1366px)  {
#logotop {
    height: 40vh;
}
}
@media (max-width: 767px) {
#logotop {
    height: 50vh;
}

.imageGroup {
    display: none;
}

    #logotop {
        height: 35vh;
    }
    header>h1 {
        font-size: 30px;
    }
    div.navbar.navbar-default {
        display: flex;
        flex-direction: column
    }
    #sidebar {
        display: none;
    }

    .text {
    margin-left: 2em;
    }

}



.rotate {
    transform: rotate(180deg)
}